root = true

# Unix-style newlines with a newline ending every file
[**]
end_of_line = lf
insert_final_newline = true

# Standard at: https://github.com/laughhq/node-style-guide
[**.{js,json}]
charset = utf-8
curly_bracket_next_line = false
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
quote_type = single
spaces_around_operators = true
space_after_control_statements = true
space_after_anonymous_functions = true
spaces_in_brackets = true

# No Standard.  Please document a standard if different from .js
[**.{yml,css}]
trim_trailing_whitespace = true
indent_style = tab

[**.html]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# No standard.  Please document a standard if different from .js
[**.md]
indent_style = tab

# Standard at:
[Makefile]
indent_style = tab

# The indentation in package.json will always need to be 2 spaces
# https://github.com/npm/npm/issues/4718
[package.json, bower.json]
indent_style = space
indent_size = 2
