{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "gulp/**/*.js",
          "gulpfile.js"
        ]
      }
    ],
    "arrow-body-style": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ]
  }
}
